body {
    padding-top: 70px;
}
#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

div#main {
    position: relative;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

#table-company td,th {
    width: 33%;
    text-align: center;
}

table.computers td,th {
    width: 25%;
    text-align: center;
}

table.computers em {
    color: #aaa;
}

table.computers .introduced, table.computers .discontinued {
    width: 10%;
    min-width: 100px;
}

table.computers .company_name {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}